html, body {
	margin:0;
	padding:0;
}

body {
	
}

#wrap {
	width:70%;
	margin:0 auto;
}
.me{
	width:50%;
}
.chris{
	width:50%;
}
section{
	padding:0;
	margin:0;
}
.final{
	width:50%;

}
header{
	font-family:arial;
	
}